
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-image: url(./Imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-login {
    width: 25%;
    min-width: 320px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15%;
    background-color: rgb(255, 255, 255)
}
.titulo-form {
    padding: 0 20px;
}
h2 {
    border-bottom: 1px solid rgb(179, 169, 169);
    padding: 15px 0;
    width: 80%;
}
form .row {
    padding: 5px 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
.row input {
    border: 1px solid blue;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px;
}
.buttons {
    padding: 20px;
    text-align: center;
}
.olvidada{
    padding: 10px 0 20px 0;
    text-align: center;
}
.material-symbols-outlined{
    margin-right: 10px;
}
.iniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px 15px;
    background-color: #227ef7;
    color: #ffffff;
}
.iniciar:hover{
    cursor: pointer;
}
a{
    font-size: .8em;
    text-decoration: none;
    color: #5491e2;
}
